<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Classifier</title>
    <link rel="stylesheet" href="./static/stylesheet.css">
</head>
<body>
    <header>
        <a class="header-logo" href="#">Car Classifier</a>
    </header>

    <div class="main">
        <h2> AIが送信された画像の欧州車を識別します</h2>
        <h3>対象車種：2017 Porsche 718_Boxster、2018 Volkswagen Polo_VI、Volkswagen ID.5、Audi RS e-tron_GT、2022 Lamborghini Huracan_Tecnica</h3>
        <p>画像を送信してください</p>
        <form method="POST" enctype="multipart/form-data">
            <input class="file_choose" type="file" name="file">
            <input class="btn" value="submit!" type="submit">
        </form>
        <img class="image" src="{{images}}">
        <div class="answer">{{answer}}</div>
    </div>

    <footer>
        <small>&copy; 2024 Atsushi Surfin, inc.</small>   
    </footer>
</body>
</html>